/* Additional styling specific to the footer component */
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5em;

  a {
    text-decoration: none;
    color: #ecf0f1;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  a:hover{
    color: black;
    text-decoration: underline;
  }

}
.copy{
  color: #ecf0f1;
}

/* Example: Styling for social media icons */
.footer-content i {
  color: #ecf0f1; /* Helle Grauweiß */
  margin: 0 10px;
  font-size: 20px;
}

.footer-content i:hover {
  color: #2c3e50; /* Dunkles Blau */
}


footer {
  p {
    text-align: center;
  }
  .copy{
    text-align: center;
    padding: 0.5em;
  }
}
