<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h2>Links</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Kontakt</h2>
      <p>Email: info&#64;tools.com</p>
      <p>Telefon: +123456789</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Tools - DS</p>
  </div>
</footer>
