.upload-form {
  box-shadow: none;
  border: none;
  margin: auto;
}
.material-icons {
  font-size: 10em;
}
.upload-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
