<h1>Vorname Nachname</h1>
<div class="profile-flex">
  
  <app-upload-profile-picture></app-upload-profile-picture>

  <form class="profile-form">
      <label>Hier können Sie Ihre Daten überprüfen und bearbeiten</label>


      <div>
        <label for="firstName">Vorname:</label>
        <input type="text" id="firstName">
      </div>

      <div>
        <label for="lastName">Nachname:</label>
        <input type="password" id="lastName">
      </div>

      <div>
        <label for="password">Passwort:</label>
        <input type="password" id="password">
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email">
      </div>

      <div class="buttons">
        <button type="submit">Speichern</button>
      </div>

  </form>

</div>
