.feed-layout {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  max-width: 90vw;
  margin: auto;
  .container {
    border: 2px solid black;
    border-radius: 12px;
    padding: 1em;
    margin: 2em;
    justify-content: center;
    .user-card-headline {
      display: flex;
      flex-direction: row;
      margin: 2em;
      justify-content: space-between;
    }
  }
}
