<!--Wenn der User bereits ein Profil hat soll diese Seite als Startseite aufgehen.-->
<div class="feed-layout">
  <div class="container">
    <p>Ein Container für Sidebar zb. Neue Werkzeuge in der Nähe oder von Freunden</p>

  </div>

  <div class="container user-feed-containers">
    <div class="user-card-headline">
      <h3>{{userName}}</h3>
      Profilbild
    </div>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem modi dolore sunt explicabo voluptatum quasi corrupti inventore iure quam, totam cumque doloribus, officiis deserunt repellendus, et illo. Tenetur, cumque. Asperiores.Ein Container für Userfeed Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati animi labore! Culpa exercitationem, praesentium mollitia veniam totam labore blanditiis. Laborum facere optio vel at alias perferendis odit. Quam, praesentium?</p>

  </div>
  <div class="container">
    <p>Ein Container für Werbung zum Beispiel
      (nicht sehr wünschenswert aber lukrativ, vielleicht auch Eigenwerbung)</p>
  </div>

</div>
