.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60vh;
  align-items: center;
  padding: 2em;
}

.buttonHomePage {
  margin-right: 30em;
}

.homeList{
  border: 2px solid black;
  border-radius: 12px;
  max-width: max-content;
  li{
    list-style-type: circle;
    margin: 1em;
  }
}
