<div class="main">
  <section >

    <!---Diese Seite soll angezeigt werden wenn der User noch kein Profil hat,
      heißt wenn noch keine Daten vom aktuellen User in der Datnbank vorhanden sind-->

    <div>
      <h1>Willkommen bei Tools</h1>
      <p>Entdecke verfügbare Werkzeuge</p>
      <p>Oder stelle eigene Werkzeuge zur Verfügung</p>

      <div class="buttons buttonHomePage">
        <button  class="btn" routerLink="/login">Login</button>
        <button routerLink="/registrieren" class="btn">Registrieren</button>
      </div>

    </div>
  </section>

  <section>
    <div>
      <p>Neu hier?</p>
      <article>
        Hast du Werkzeuge die du verleihen kannst?
        Oder bist du selber auf der Suche nach einem speziellen Werkzeug,
        welches du dir für die einmalige Verwendung nicht  kaufen möchtest?
        Dann bist du hier genau richtig!
      </article>
      <br>
      <article>
        <ul class="homeList">
          <li >Suche in deiner Umgebung</li>
          <li >Finde genau was du suchst</li>
          <li >Suche Werkzeuge finde Gleichgesinnte</li>
          <li >Biete deine Werkzeuge zum Verleih an</li>
        </ul>
      </article>
    </div>
  </section>
</div>

