<section >

  <button routerLink="/">Zurück</button>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Login</h3>

    <div>
      <label for="firstName">Vorname:</label>
      <input type="text" id="firstName" formControlName="firstName">
    </div>

    <div>
      <label for="lastName">Nachname:</label>
      <input type="text" id="lastName" formControlName="lastName">
    </div>

    <div>
      <label for="password">Passwort:</label>
      <input type="password" id="password" formControlName="password">
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="form.invalid">Einloggen</button>
      <button type="reset" (click)="reset()">Reset</button>
    </div>

  </form>

</section>
